<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/style.css">
    <title>Создатель картотеки &mdash; BearLoggers</title>
</head>

<body>
    <div class="container">
        <div class="w-100 text-center">
            <a class="btn btn-info mt-3" href="#printLink" role="button">Перейти вниз</a>

            <div class="input-group mb-3 w-75 pt-2" style="padding-left: 25%">
                <input type="text" id="beginInput" onkeypress="if (event.keyCode == 13) beginFilter()" class="form-control" placeholder="Фильтр (по букве или по куску слова)" aria-label="Фильтр" aria-describedby="button-addon1">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1" onclick="beginFilter()">Поиск</button>
                </div>
            </div>
            {% if filter %}
                <span>Фильтр по "{{filter}}*"</span>
                <button class="btn btn-outline-primary" onclick="location = '/'">Удалить фильтр</button>
            {% endif %}
        </div>

        {% for card in cards %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{card.title}}</h5>
                {% if card.subtitle %}
                <h6 class="card-subtitle mb-2 text-muted">({{card.subtitle}})</h6>
                {% endif %}
                <p class="card-text">{{card.content}}</p>

                <p style="margin: 0;">{{sources[card.source].author}} <i>{{sources[card.source].title}}</i></p>

                <button type="button" class="btn btn-info editbutton" onclick="edit({{card.id}})">Редактировать</button>
                <button type="button" class="removebutton" onclick="remove({{card.id}}, '{{card.title}}')">x</button>
            </div>
        </div>
        {% endfor %}

        <div class="card mt-5" style="margin-bottom: 2rem">
            <div class="card-body">
                <h5 class="card-title">
                    <input id="titleInput" type="text" placeholder="Заголовок">
                    <button type="button" class="btn btn-outline-primary" onclick="markStress()">А́</button>
                </h5>
                <h6 class="card-subtitle mb-4 text-muted">
                    (<input id="descInput" placeholder="Примечание (необ.)">)
                </h6>
                <!-- <p class="card-text"><textarea>Определение</textarea></p> -->
                <textarea id="definitionTextarea" placeholder="Определение"></textarea>

                <p id="source">Источник: [<span id="sourceNumber">Не выбран</span>]</p>

                <div id="sourceButtons">
                    <button class="btn btn-info" id="addSourceButton" onclick="modifySources()">Редактировать источники</button>
                    <!-- Default dropright button -->
                    <div class="btn-group dropright">
                        <select onchange="changeSource(`optionSel${this.selectedIndex}`)">
                            <option disabled selected>Источник</option>
                            {% for source in sourcesArr %}
                            <option id="optionSel{{loop.index}}" value="{{source.id}}" title="{{loop.index}}">
                                {{source.author}} "{{source.title}}" [{{loop.index}}]
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div id="addSourceDiv" class="mt-3 mb-5 text-center p-2">
                    <div class="w-100 h-100">
                    <button class="btn btn-danger" id="closeButton" onclick="closeSource()">x</button>
                    </div>

                    <p class="mr-2">Удалить:</p>
                    <select class="btn-danger" onchange="deleteSource(`option${this.selectedIndex}`)">
                        <option disabled selected>Источник</option>
                        {% for source in sourcesArr %}
                        <option id="option{{loop.index}}" value="{{source.id}}" title="{{source.title}} [{{loop.index}}]">
                            {{source.author}} "{{source.title}}" [{{loop.index}}]
                        </option>
                        {% endfor %}
                    </select>
                    <br>

                    <hr>

                    "<input class="mt-3 text-center" id="sourceTitleInput" placeholder="Название" value="">"
                    <input class="text-center" id="sourceAuthorInput" placeholder="Автор (необ.)" value=""><br>

                    <button class="btn btn-info mt-3" id="confirmSourceButton" onclick="sendSource()">Добавить новый источник</button>
                </div>


                <button type="button" class="btn btn-success editbutton" onclick="sendCard()">Добавить</button>
            </div>
        </div>

        <a style="margin-bottom: 10rem;" href="/print" id="printLink">Версия для печати</a>
        <br><br>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <script src="/index.js"></script>
</body>

</html>