<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="/style.css"> -->
    <title>I'mma stop you right there</title>
</head>
<body>
    <div class="container text-center">
        <img src="/walc.gif" alt="Упс" class="mt-5">
        <h1>Hold on, partner</h1>
        {% if wrong %}
            <p id="talkP" style="font-size: 1.2rem;">Погоди, ковбой... Это не тот пароль, что нам нужен!</p>
        {% else %}
            <p id="talkP" style="font-size: 1.2rem;">Ковбой, погоди, чтобы пройти дальше, тебе нужен пропуск. У тебя он есть?</p>
        {% endif %}

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                {% if wrong %}
                    <span class="input-group-text" id="basic-addon1">Это недоразумение... Стойте, у меня есть другой: </span>
                {% else %}
                    <span class="input-group-text" id="basic-addon1">У меня всё есть! Это правда, я могу шепнуть на ухо:</span>
                {% endif %}
            </div>
            <input type="password" onkeyup="if (event.keyCode == 13) sendPass();" id="passwordField" class="form-control" placeholder="Секретный пароль" aria-label="Секретный пароль" aria-describedby="basic-addon1">
        </div>
        <button type="button" class="btn btn-success" onclick="sendPass();">Отправить</button>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <script src="/post.js"></script>
    <script>
        function sendPass() {
            let password = document.getElementById('passwordField').value;
            if (!password) return;
            sendPOST('/secretpassword', {password}).then(() => location.reload());
        }
    </script>
</body>
</html>